body{background-color: #e6e6e6;}
header{background-color: #dbdbdb;}

.logo {max-width: 400px;}
.subtitulo{margin-top: -40px; margin-left: 30px; font-family: 'Times New Roman', Times, serif;}
.menu1{position: absolute; top: 90px; left: 40%;}
.menu1 a{color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 18px;}

.textoinicial{margin-left: 600px;}
.textoinicial h2{font-size: large;}
.banner img{width: 100%; margin: 0px; margin-bottom: 40px;align-items: center; margin-top: 20px;}

.textoinicial{padding: 20px; margin-bottom: 20px; margin-top: 20px;}
.cincoestrelas{height: 30px; width: 120px; margin-top: -50px;}

.dropdown{margin-left: 900px;}
.destaques img{width: 100%; margin-bottom: 40px; margin-top: 20px;}

.mtrailer{margin-top: 20px; margin-bottom: 20px;}

.titulolancamento{margin-top: 20px; margin-bottom: 20px ;}
.avaliacoes{background-color: #d6d6d6; padding: 20px; padding-bottom: 30px;}
.avaliacoes h5, p2{margin-top: 45px;}
.avaliacoes h3{margin-bottom: 20px;}
.avaliacoes h1, h2{font-size: 1.5em;}
.avaliacoes h2{margin-top: 90px;}
.avaliacoes p{margin-top: 20px;}
.novidades{margin-top: 40px;}
.novidades h1{font-size: 1.5em; margin-bottom: 10px;}
.novidades li{margin-bottom: 10px;}
.edital{text-align: right; margin-right: 100px; margin-top: -130px;}
.edital h1{margin-right: 295px;}
.edital p1{margin-right: 100px;}
.edital p2{margin-right: 8px;}
.edital p3{margin-right: 61px;}
.rodape{text-align: center; margin-top: 20px; padding: 20px;background-color: #cecece}

@media screen and (max-width:600px){
    .menu1{
        background-position: 100px 100px;
    }
}

/*Media queries*/

      @media (max-width: 1024px) {
        .edital, .sobre, .cincoestrelas, .menu1{display: none;}
        .btn-toggle{display: block;}
      }
